@font-face {
    font-family: "Gordita";
    src: url("assets/fonts/Gordita-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Gordita";
    src: url("assets/fonts/Gordita-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Gordita";
    src: url("assets/fonts/Gordita-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Gordita";
    src: url("assets/fonts/Gordita-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Gordita";
    src: url("assets/fonts/Gordita-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}