$container: 1180;
$md1: $container + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

.wrapper {
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

._container {
    max-width: ($container + px);
    margin: 0 auto;

    @media (max-width: ($md1 + px)) {
        max-width: 970px;
    }

    @media (max-width: ($md2 + px)) {
        max-width: 750px;
    }

    @media (max-width: ($md3 + px)) {
        max-width: none;
        padding: 0 10px;
    }
    @media (max-width: ($md4 + px)) {
        max-width: none;
        padding: 0 16px;
    }
}

$primary-color-700: #00b871;
$primary-color-400: #2fdf84;
$primary-color-50: #f4fbf7;
$gray-400: #161e2e;
$gray-300: #9ba4b0;
$gray-200: #d2d6dc;
$gray-100: #f7f7f8;

h1,
h2,
h3,
h4,
h5,
p {
    font-family: "Gordita";
    color: $gray-400;
}

h1 {
    font-size: 48px;
    line-height: 60px;
    @media (max-width: ($md1 + px)) {
        font-size: 32px;
        line-height: 46px;
    }
}

h2 {
    font-size: 32px;
    line-height: 48px;
    @media (max-width: ($md1 + px)) {
        font-size: 24px;
        line-height: 34px;
    }
}
h3 {
    font-size: 24px;
    line-height: 36px;
}
h4 {
    font-size: 18px;
    line-height: 22px;
}

p {
    font-size: 14px;
    line-height: 18px;
}
